<div
  class="card-footer text-white border-success py-3 p-2 mt-auto"
  style="background-color: #50475be1"
>
  <div class="container text-center">
    <span class="text-muted">&copy arbor0711</span>
  </div>
</div>
